
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}
@font-face {
	font-family: 'S-CoreDream-7ExtraBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
		   		   
@font-face {
    font-family: 'YES24';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YES24.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

            
            
                      
body{
	font-family: 'NanumSquare', sans-serif;
	overflow: hidden;
}
body>div{
	overflow: hidden;
}



#section01{
	width:100%;
	
}
	
#section02{
	width:100%;

	
}
	
#section03{
	width:100%;background: #333;}
	
#section04{
	width: 100%;
}
	
#section05{
	width:100%; }

	.logo img{
		width: 80%;
	}
	.menu_box>ul>a{
		display: none;
		border-bottom: none;
	}


.menu_box{
	width:100%; height:70px; color:#333; position:fixed; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;z-index: 999;}
	
	.fixed{
		background:rgba(20,20,20,0.95); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; color: #fff;}
	
		.logo a{
			font-size:46px; padding:7px 0 0 140px; float:left; color:#FFF; font-family: 'Open Sans',Arial,Helvetica,sans-serif; text-decoration:none;}
			
		.menu_box > ul{
			float:right; padding:0 130px 0 0;}
			
			.menu_box li{
				float:left; text-align:center; width:100px;}
				
				.menu_box li a{
					text-decoration:none;  line-height:70px; font-family: 'Open Sans',Arial,Helvetica,sans-serif; font-size:14px; 	transition:all 0.5s ease-in-out; 
					-webkit-transition:all 0.5s ease-in-out; opacity: 0.5; font-weight: bold;}
					
					/**메뉴부분 마우스 오버시 색상 **/
					.menu_box li a:hover{
						 opacity: 1;}
                        
						@media(max-width: 767px){
							.menu_box{
								height: 50px;
								background: rgba(20,20,20,0.95);
							}
							.menu_box>ul>a{
								display: block;
								text-align: right;
								line-height: 50px;
							}
							.menu_box li{
								display: none;
								float: none;
								margin: 0 auto;
								text-align: center;
								color: #fff;
								
								padding-left: 50px;
							}
							.logo a{
								padding: 0 0 0 20px;
							}
							.menu_box ul{
								z-index: -1;
								position: absolute;
								padding: 0 20px 0 0;
								width: 100%;
								right: 1px;
								background: rgba(20,20,20,0.95);
							}
							
						}
/* navi css */

.ontop{
	position: fixed;
	top: 750px;
}
  
  .mouse_scroll {
	  position: fixed;
	  right: 60px;
	  display: block;
	  margin: 0 auto;
	  width: 24px;
	  height: 100px;
	  top: 750px;
	  z-index: 99;
	  mix-blend-mode: multiply;
  }
  
  
  .m_scroll_arrows
  {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
	margin: 0 0 3px 4px;
	width: 16px;
	height: 16px;
  }
  .a_scroll_arrows
  {
	display: block;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
	margin: 50px 0 3px 4px;
	width: 16px;
	height: 16px;
  }
  
  .unu
  {
	margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
	  -webkit-animation: mouse-scroll 1s infinite;
	  -moz-animation: mouse-scroll 1s infinite;
	  animation: mouse-scroll 1s infinite;	
  }
  
  .unu
  {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	animation-delay: alternate;
  }
  
  .doi
  {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-webkit-animation-direction: alternate;
	animation-delay: .2s;
	animation-direction: alternate;
	margin-top: -6px;
  }
  
  .trei
  {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-webkit-animation-direction: alternate;
	animation-delay: .3s;
	animation-direction: alternate;
	margin-top: -6px;
  }
  
  .mouse {
	height: 42px;
	width: 24px;
	border-radius: 14px;
	transform: none;
	border: 2px solid #333;
	top: 170px;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;	
  }
  .a-mouse {
	  display: none;
	  position: relative;
	height: 42px;
	width: 24px;
	border-radius: 14px;
	transform: none;
	border: 2px solid #333;
	top: 100px;
  }

  .wheel {
	height: 5px;
	width: 2px;
	display: block;
	margin: 5px auto;
	background: #333;
	position: relative;
	height: 2px;
	width: 2px;
	border: 2px solid #333;
	-webkit-border-radius: 8px;
			border-radius: 8px;
			transition:all 1s ease-in-out; 
			-webkit-transition:all 1s ease-in-out;		
  }
  
  .wheel {
	-webkit-animation: mouse-wheel 1s linear infinite;
	-moz-animation: mouse-wheel 1s linear infinite;
	animation: mouse-wheel 1s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
	 0% {
	  opacity: 1;
	  -webkit-transform: translateY(0);
	  -ms-transform: translateY(0);
	  transform: translateY(0);
	}
  
	100% {
	  opacity: 0;
	  -webkit-transform: translateY(6px);
	  -ms-transform: translateY(6px);
	  transform: translateY(6px);
	}
  }
  @-moz-keyframes mouse-wheel {
	0% { top: 1px; }
	50% { top: 5px;}
	100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
	 0% { top: 1px; }
	50% { top: 5px;}
	100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
	 0% { top: 1px; }
	50% { top: 5px;}
	100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
	0%   { opacity: 0;}
	50%  { opacity: .5;}
	100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
  }

.main-banner{
    padding:70px 0 0;
	overflow: hidden;
}
.main-conts{
    width: 85%;
	margin: 0 auto;
	padding: 13% 0 ;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: url(../images/7094349-1.jpg) top center no-repeat;
	background-size: cover;
	background-position: center;

}

.main-conts>p{
	margin: 1.5% 0 0 ;
	text-align: left;
	color: #fff;
	font-size: 70px;
	letter-spacing: 0px;
	font-family: 'S-CoreDream-7ExtraBold';
	line-height: 90px;
	padding: 3% 5%;
	
}
.main-conts img{
	margin: -5% 0 2%;
	width: 35%;
}
.mm{
	line-height: 150px;
}
.main-conts h1:nth-child(1){
	color: #fff;
	margin: -15% 0 0 0%;
	font-size: 80px;
	text-align: left;
	font-family: 'S-CoreDream-7ExtraBold';
}
.main-conts h1:nth-child(2){
	color: #fff;
	margin: 20% 0 -10% 50%;
	font-size: 80px;
	line-height: 90px;
	text-align: right;
	font-family: 'S-CoreDream-7ExtraBold';
}




@media(max-width: 767px){
	.main-conts>p{
		font-size: 30px;
	}
	.main-banner{
		padding:50px 0 0;
	}
	.main-conts>img{
		width: 20%;
	}
	.container{
		top: 0;
		bottom: 500px; 
	}
	.main-conts{
		width: 100%;
	}
	.mm{
		line-height: 100px;
	}
	.main-conts h1:first-child{
		font-size: 40px;
		margin: -10% 0 0 0;
	}
	.main-conts h1:nth-child(2){
		font-size: 40px;
		margin: 70% 0 0% 20%;
		line-height: 50px;
	}
}
@media(max-width: 500px){
	.ontop{
		display: none;
	}
	.main-conts>p{
		
		font-size: 25px;
	}
	.mm{
		line-height: 100px;
	}
	.main-conts h1:first-child{
		font-size: 40px;
		margin: -30% 0 0 0;
	}
	.main-conts h1:nth-child(2){
		font-size: 40px;
		margin: 75% 0 -15% 10%;
		line-height: 50px;
	}
	.main-conts{
        padding: 30% 0;
		width:100%;
		background: url(../images/7094349.jpg) top center no-repeat;
		background-size: cover;
		background-position: center;
	}
}
/* section01-end */

.conts-area-02{
	width: 80%;
	display: flex;
    justify-content: center;
    margin: 0 auto ;
	padding: 7% 0;
}

#section02>p{
	margin: 10% 0;
	position: absolute;
	font-size: 150px;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	color: rgba(0,0,0,0.15);
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	z-index: 1;
}
.text-box01{
	position: relative;
	margin: 25% 10% 0 0%;
	width: 38%;
	height: fit-content;
	color: #555;
	font-family: 'NanumSquare', sans-serif !important;
	line-height: 25px;
	font-size: 16px;
    text-align: left;
       
}
.text-box01>h1{
	font-size: 30px;
	font-family: 'GmarketSansMedium';
	line-height: 30px;
}
.text-box01>h2{
	font-size: 20px;
	font-weight: bold;
}
.img-box01{
	position: relative;
	clear: both;
	width: 50%;
	padding: 20% 0;
	margin: 5% 0 0;
	background: url(../images/bg1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}



@media(max-width: 767px){
	.text-box01{
		margin: 8% 0 0 0;
		width: 42%;
		padding: 30px 0 0;
		height: 390px;
		line-height: 20px;
	}
	.img-box01{
		width: 42%;
		padding: 30px 25px 0;
		margin: 8% auto 0;
        height: 390px;
        background-attachment: unset;
	}
	#section02>p{
		font-size: 100px;
	}

}
@media(max-width: 500px){
	#section02>p{
		padding: 10% 0 0;
		margin: 10% 0 5%;
		font-size: 50px;
	}
	.conts-area-02{
		flex-direction: column-reverse;
		padding: 20% 0 20%;
	}
	.text-box01{
		margin: 0;
		width: 100%;
		padding: 30px 0 0;
		height: fit-content;
	}
	.text-box01>h1{
		font-size: 25px;
		line-height: 25px;
	}
	.text-box01>h2{
		font-size: 15px;
		line-height: 20px;
	}

	.img-box01{
		height: 250px;
		margin: 10% auto 0;
		width: 85%;
	}

}

/* section02 end */

.sec03-conts{
	width: 100%;
	padding: 8% 0 0.5%;
	color: #ffF;
	font-family: 'NanumSquare', sans-serif !important;
	text-align: center; 
}
.sec03-conts>.text-area{
	background:url(../images/7094310.jpg) ;
	background-size: cover;
	background-position-y: 60%;
	background-attachment: fixed;
}

.sec03-conts>h1{
	width: 85%;
	margin: 0 auto;
	color: #fff;
	font-family: 'GmarketSansMedium';
	font-size: 40px;
	text-align: left;
}
.sec03-conts ul{
	background:rgba(0,0,0,0.3) ;
	padding: 8% 0;
	background-size: cover;
	background-position: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec03-conts li{
	padding: 3% 1% 0%;
	line-height: 25px;
	margin: 0 1% 0;
	width: 18%;
	height: 450px;
	box-sizing: border-box;
	border: 3px solid rgba(255, 255, 255, 0);
	opacity: 0.5;
	box-sizing: border-box;
}
.sec03-conts li>a>p{
	font-weight: bold;
	justify-content: center;
	align-items: center;
}
.sec03-conts li>a>h1{
	font-size: 30px;
	line-height: 40px;
	font-family: 'GmarketSansMedium';
}
.sec03-conts li:hover{
	background: rgba(0,0,0,0.3);
	border: 3px solid #869aa6;
	box-sizing: border-box;
	opacity: 1;
	transition:all 1s ease-in-out; 
    -webkit-transition:all 1s ease-in-out;
}

.swiper-container {
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0 0 5%;
	width: 85%;
	height: 100%;
  }
  .swiper-slide img{
	margin: 0 0 0 -15%;
}
  .swiper-slide {
	  cursor: pointer;
	  overflow: hidden;
	  height: 100%;
	font-size: 30px;
	color: rgba(255,255,255,0.3);
	border: 1px  solid rgba(255,255,255,0.5);
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	transition:all 0.2s ease-in-out; 
	-webkit-transition:all 0.2s ease-in-out;
  }

  .swiper-button-prev{
	  color: rgba(255,255,255,0);
	  margin: -5% 0 0 1.5% !important;
	  
  }
  .swiper-button-next{
	color: rgba(128, 164, 219, 0);
	margin: -5% 0 0 -1.5% !important;
  }
  .swiper-button-prev>img, .swiper-button-next>img{
	  width: 150%;
	border: 2px solid #333; 
	opacity: 0.8;
	transition:all 0.2s ease-in-out; 
	-webkit-transition:all 0.2s ease-in-out;
  }
  .swiper-button-prev>img:hover, .swiper-button-next>img:hover{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	width: 160%;
  }
  
  .swiper-pagination{
	  position: relative;
	  margin: 2% 0 0;
	  color: rgba(255,255,255,0.3) !important;
  }
  .swiper-pagination-bullet-active{
	  background-color: rgb(255, 255, 255) !important;
  }
  .swiper-slide img{
	  width: 150%;
	  position: center;
  }
  .swiper-slide:hover{
	  background: #fff;
	  color: #333;
	  box-shadow: 15px 15px 20px rgba(0,0,0,0.5);
}

.swiper-slide>h1{
	
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	font-family: 'GmarketSansMedium';
	justify-content: center;
	padding: 265px 0;
	font-weight: bold;

}
.swiper-slide:hover i{
	color: rgba(0, 0, 0, 1);
	margin: 0 0 0 10px;
}
i{
	color: rgba(255, 255, 255, 0);
	margin: 0 0 0 -35px;
	transition:all 0.2s ease-in-out; 
	-webkit-transition:all 0.2s ease-in-out;
}
  .swiper-slide p{
	 letter-spacing: -2px;
	  position: relative;
	  font-weight: bold;
	  line-height: 40px;
	  margin: 5% 0 0;
	  transition:all 0.5s ease-in-out; 
	  -webkit-transition:all 0.5s ease-in-out;
  }
  .swiper-slide p:last-child{
	  font-weight: normal;
	  margin: 0;
	  padding: 0 0 20px  0;
  }

  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
	color: #333;
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px 30px 50px;
	border: 1px solid #888;
	line-height: 23px;
	width: 30%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.modal-content>p:last-child{
	font-weight: bold;
	font-size: 14px;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.slideRight{
	margin: 6% 0;
	right: 1px;
	position: absolute;
	font-size: 200px;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	color: rgba(0,0,0,0.15);
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	z-index: 1;
}
.swiper-pagination{
	display: none;
}


@media(max-width: 767px){
	#section03>p{
		font-size: 100px;
	}
	.sec03-conts>h1{
		font-size: 23px;
	}
	.sec03-conts ul{
		flex-direction: column;
	}
	.sec03-conts li{
		width: 75%;
		height: fit-content;
		padding: 3% 1% 3%;
		line-height: 20px;
	}
	.sec03-conts li>a>h1{
		font-size: 20px;
		line-height: 25px;
	}
	.sec03-conts li>a>p{
		font-size: 13px;
	}
	.swiper-container{
		padding: 15% 0;
		font-size: 20px;
	}
}
@media(max-width: 500px){
	#section03{
		padding: 10% 0;
	}
	#section03>p{
		font-size: 50px;
		padding: 10% 0 0;
		margin: 10% 0 5%;
	}
	.swiper-slide p{
		line-height: 25px;
		font-size:20px;
	}
	/* .swiper-slide{
		margin-left: -20px;
		height: 150%;
	}
	.swiper-wrapper{
		margin-left: -250px;
	}
	.swiper-container{
		width: 1000px;
		overflow: hidden;
	} */
	.swiper-button-next, .swiper-button-prev{
		display: none;
	}
 .swiper-pagination{
	 margin-left: -400px;
	 margin-top: 50px;
 }
	.modal-content{
		width: 60%;
		margin: 50% auto;
	}
	.ani3{
		animation-name: none;
	}
}

#section04>p{
	margin: 10% 0;
	position: absolute;
	font-size: 150px;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	color: rgba(0,0,0,0.15);
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	z-index: 1;
}
#section04>h1{
	width: 85%;
	color: #333333;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin: 0 auto;
	padding: 8% 0 10%;
}
#section04>.conts-area{
	width: 100%;
	display: flex;
}
.card {
	width: 33.33%;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	
}
.conts-area>div:first-child:hover{
	background-size: 220%;
}
.conts-area>div:nth-child(2):hover{
	background-size: 220%;
}
.conts-area>div:last-child:hover{
	background-size: 220%;
}
.conts-area>div:first-child{
	background: url(../images/prohover.jpg);
	background-size: 200%;
	background-position: center;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
}
.conts-area>div:nth-child(2){
	background: url(../images/prehover.jpg);
	background-size: 200%;
	background-position: center;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
}
.conts-area>div:last-child{
	background: url(../images/tonghover.jpg);
	background-size: 200%;
	background-position: center;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
}

.imgh1{
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -2px;
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	z-index: 99;
}
.imgh1+a{
	width: 50%;
	font-size: 15px;
	font-weight: bold;
	margin: 0 25%;
	text-decoration: underline;
}

.imgBx {
    padding: 30% 0;
	background: rgba(0,0,0,0.4);
	color: #fff;
	text-align: center;
}
.section4{
	position: relative;
	margin: 0 0 7%;
}

@media(max-width: 767px){
	#section04>p{
		font-size: 100px;
	}
	#section04>.conts-area{
		flex-direction: column;
		width: 100%;
		
	}
	.card{
		width: 100%;
	}
	#section04>h1{
		font-size: 23px;
	}
	.imgBx{
		padding: 12% 0;
	}
	.imgh1{
		font-size: 20px;
	}
	.imgh1+a{
		width: 80%;
		font-size: 15px;
		font-weight: bold;
		margin: 0 10%;
		text-decoration: underline;
	}

}
@media(max-width: 500px){
	#section04>p{
		font-size: 50px;
		padding: 10% 0 0;
		margin: 10% 0 5%;
	}
	#section04{
		padding: 10% 0 5%;
	}
}



.map{
	width: 85%;
	padding: 0 0;
	margin:0 auto 0;
	display: flex;
	
}

.map-area{
	width: 70%;
	margin: 0 0 5%;
}

#section05>h1{
	width: 85%;
	margin: 5% auto 0;
	color: #333;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	padding: 2.5% 0 3%;
	font-weight: bold;
	
}
.map-txt-2{
	display: flex;
	width: 100%;
	flex-direction: row;
}
.map-txt-2>div{
	display: flex;
	width: 50%;
}
#map{
	width:100%;height:600px;
}

.map-txt-2>div:last-child{
	margin: 10px 0 0 5px;
}

/* Style the tab */
.tabarea{
	width: 30%;
	margin: 0 0 0 2%;
}
.tab {
	display: flex;
	overflow: hidden;
	border-bottom: 2px solid #333;
	background: none;
  }
  .tab>button:first-child{
	  border-right: 0.5px solid #ccc;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	width: 50%;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  }
  .tablinks{
	  font-size: 17px;
	  font-family: 'GmarketSansMedium';
	  color: #333;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #eee;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #333;
	color:#fff;
  }
  
  /* Style the tab content */
  .tabcontent>h3{
	  font-size: 18px;
	  font-weight: bold;
  }
  .tabcontent {
	
	  line-height: 25px;
	font-size: 17px;
	display: none;
	padding: 35% 1%;
	margin: 0 0 2%;
	
  }
  #section05>p{
	margin: 7% 0 0;
	right: 1px;
	position: absolute;
	font-size: 150px;
	font-family: 'GmarketSansMedium';
	font-weight: bold;
	color: rgba(0,0,0,0.15);
	transition:all 1s ease-in-out; 
	-webkit-transition:all 1s ease-in-out;
	z-index: -99;
}

@media(max-width: 767px){
	#section05>p{
		font-size: 100px;
	}
	.map{
		flex-direction: column;
	}
	.map-area{
		width: 100%;
	}
	.tabarea{
		width: 100%;
	}
	#map{
		height: 250px;
	}
	.tabcontent{
		padding: 10% 0;
		font-size: 15px;
	}
	#section05>h1{
		font-size: 23px;
	}
}
@media(max-width: 500px){
	#section05>p{
		font-size: 50px;
		padding: 10% 0 0;
		margin: 3% 0 5%;
	}
	#section05{
		padding: 10% 0;
	}

}


.footer{

	display: flex;
	width: 85%;
	padding: 2% 7.5%;
	align-items: center;
	background: #333;
	margin: 0 !important;
}
.footer-txt{
	width: 88%;
	font-size: 15px;
	line-height: 20px;
	color: #aaa;
}
.footer-txt p{
	font-family: 'NanumSquare', sans-serif !important;
}
.footer-txt a{
	font-family: 'GmarketSansMedium';
	font-size: 25px;
	line-height: 50px;
}
.footer-txt p:last-child{
	font-weight: bold;
	line-height: 30px;
}
.footer-logo{
	padding: 10px 0 0;
	width: 12%;
}
.footer-logo>img{
	justify-items: flex-end;
	width: 100%;
}
@media(max-width: 767px){
	.footer-logo>img{
		display: none;
	}
	[data-aos-delay] {
		transition-delay: 2s !important;
	}
}


.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #333;background: #333 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}